<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="..\stylesheets\viewOne1.css">
</head>
 <body background="image/image1.jpg">
      
    <h1><%= productdetail.name %></h1>
    <h1><%= productdetail.price %></h1>
    <h1><%= productdetail.condition%></h1>
    <h1><%= productdetail.description %></h1>
   <button> <a href='/delete/<%= productdetail._id%>'>delete</a></button>
   <button><a href='/update/<%= productdetail._id%>'>update</button>
    </div>
    </li>
 </body>

</body>
</html>